/* div{
    height: 200px;
    width: 200px;
    border: 1px,solid,black;
} */

.parent{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.parent div{
    height: 400px;
    width: 400px;
    border: 1px,solid,black;
    background-repeat: no-repeat;
    align-items: center;
}

.container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap:100px;
    
}
.btn{
    font-size: 40px;
}